---
interface Props {
  type?: 'flex' | 'columns' | 'block'
}

const { type = 'block' } = Astro.props

const classes = {
  flex: 'flex flex-wrap gap-2',
  columns: 'columns-1 md:columns-2 md:gap-4 *:break-inside-avoid *:mb-4 last:*:mb-0',
  block: 'block'
}[type]
---

<section class={classes}>
  <slot />
</section>